/* Color palate codes */
/* #007057 - dark green (main KREM color) */

@import '~video-react/styles/scss/video-react';

@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.team-img {
  max-width: 100px;
}

body,
html {
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: rgb(119, 119, 119);
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}

h2,
h3,
h4 {
  font-weight: 200;
  letter-spacing: 2.5px;
}

.featureIcon {
  font-weight: 400;
  letter-spacing: 3px;
}

p {
  font-size: 14px;
}

h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

p {
  font-size: 15px;
}

p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}

a {
  color: #4caf50;
  font-weight: 400;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #007057;
}

ul,
ol {
  list-style: none;
  padding: 0;
  /* webkit-padding: 0;
  moz-padding: 0; */
}

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  /* background: #608dfd
  background: #007057; */
  margin-bottom: 20px;
  border: 0;
}

/* NAV */
#menu {
  padding: 15px;
  transition: all 0.8s;
}

#menu.navbar-default {
  background-color: #fff;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#menu a.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  color: #4caf50 #8bc34a #2b5e2d;
}

#menu.navbar-default .navbar-nav > li > a {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #555;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0;
  letter-spacing: 1px;
}

#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #4caf50 0%, #8bc34a 100%);
  content: '';
  transition: width 0.3s;
}

#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nave > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent !important;
}

.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #4caf50 0%, #8bc34a 100%) !important;
  content: '' !important;
  transition: width 0.3s !important;
}

/* 008c87 #007057 014c47 */

.navbar-toggle {
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #007057;
}

.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #007057;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-weight: 300;
  letter-spacing: 3px;
}

.section-title h2::after {
  position: absolute;
  content: '';
  background: linear-gradient(to right, #4caf50 0%, #196c1c 100%);
  height: 4px;
  width: 133px;
  bottom: 0;
  margin-left: -30px;
  left: 46%;
  letter-spacing: 6px;
}

.section-title p {
  font-size: 18px;
}

.btn-custom {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #4caf50;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #387a43;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* LOGIN */
.login {
  background: url('https://media4.giphy.com/media/l0HlKcmahAXyS7hJK/source.gif');
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
}
.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  border: 2px solid #009688;
  padding: 6px;
  width: 100%;
  padding: 10px;
  margin-left: 6px;
}

.login__logo {
  margin-top: 13px;
  margin-bottom: 50px;
  object-fit: contain;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
}

.login__container {
  width: 464px;
  height: 550px;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  border: 2px solid black;
  padding: 49px;
  margin-top: 100px;
  text-align: center;
  margin-top: 0px 20px 20px 20px;
  margin-top: 125px;
  background: #f7f7f7;
  /* padding: 46px; */
  /* margin-left: 26px; */
  box-sizing: 10px 5px 5px black;
  box-shadow: 7px 11px 26px #0c0c0c;
  margin-left: 110px;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.noAccount {
  color: black;
  font-size: 14px;
  color: green;
}

.login__container > form > h5 {
  margin-bottom: 5px;
  color: black;
  font-size: 14px;
}

.login__container > label {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  margin-left: 4px;
  background: #0f8fa4;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  margin-top: 22px;
  border-color: #4caf50 #8bc34a #2b5e2d;
  color: white;
  /* justify-content: center; */
  letter-spacing: 1px;
}

.linky {
  font-size: 14px;
  color: #0f91a4;
  letter-spacing: 1px;
}

/* HEADER */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url('https://miro.medium.com/max/1400/1*WwukW_cL3TtVTGcefVpr3w.gif')
    center center no-repeat;
  background-color: #bbbbbb;
  background-blend-mode: overlay;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .overlay {
  background: rgba(0, 182, 70, 0.2);
}

.intro h1 {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 82px;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.intro h1 span {
  font-weight: 800;
  color: #32794a;
}

.intro p {
  color: black;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}

header .intro-text {
  padding-top: 350px;
  padding-bottom: 200px;
  text-align: center;
}

/* FEATURES */
#features {
  padding: 100px 0;
}

#features .fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #50c955 0%, #327e35 100%);
  box-shadow: 10px 8px 17px #3d4a50;
}

/* ABOUT */
#about {
  background: #e6e6e6;
  padding: 100px 0;
}

#about h3 {
  font-size: 24px;
  margin: 0 0 20px;
  font-weight: 300;
}

#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-weight: 300;
  font-size: 32px;
}

#about h2::after {
  position: absolute;
  content: '';
  background: linear-gradient(to right, #4caf50 0%, #07860c 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}

#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
  letter-spacing: 1px;
}

#about .about-text li:before {
  content: '\f00c';
  font-family: 'FontAwesome';
  color: #3cb741;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}

#about img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}

#about p {
  line-height: 24px;
  margin: 30px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
}

/* SERVICES */
#services {
  padding: 100px 0;
  background: linear-gradient(to right, #4caf50 0%, #147418 100%);
  color: #fff;
}

#services .service-desc {
  margin: 10px 10px 20px;
}

#services h2 {
  color: #fff;
}

#services .section-title h2::after {
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

#services .fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #183419 0%, #009688 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 33px 17px 10px rgb(0 0 0 / 5%);
}

#services h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}

#services p {
  color: rgba(255, 255, 255, 0.75);
}

#services .service-desc {
  margin-bottom: 40px;
}

.pText {
  font-weight: 400;
  color: black;
  letter-spacing: 0.5px;
  font-size: 14px;
}

/* TESTIMONIALS */
#testimonials {
  padding: 100px 0;
  background: #f6f6f6;
}

#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}

.testimonial {
  position: relative;
  padding: 20px;
}

.testimonial-image {
  float: left;
  margin-right: 15px;
}

.testimonial-image,
.testimonial-image img {
  display: block;
  object-fit: cover;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.testimonail-content {
  position: relative;
  overflow: hidden;
}

.testimonail-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}

.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}

/* TEAM */
#team {
  padding: 100px 0;
}

#team h4 {
  margin: 5px 0;
  letter-spacing: 1px;
  font-weight: 400;
  color: black;
}

#team .team-img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 4px 2px 8px gray;
}

#team .thumbnail {
  background: transparent;
  border: 0;
}

#team .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
}

/* CONTACT */
#contact {
  padding: 100px 0 60px;
  /* background: linear-gradient(to right, #4caf50 0%, #4caf50 100%); */
  color: rgba(255, 255, 255, 0.75);
  /* background: linear-gradient(to right, #4caf50 0%, #4caf50 100%); */
  background: linear-gradient(to right, #4caf50 0%, #3e8541 100%);
}

#contact .section-title {
  margin-bottom: 40px;
}

#contact .section-title p {
  font-size: 16px;
}

#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#contact .section-title h2::after {
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}

#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}

#contact form {
  padding-top: 20px;
}

#contact .text-danger {
  color: #cc0033;
  text-align: left;
}

#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
  /* text-align: center; */
}

#contact .btn-custom:hover {
  color: #007057;
  background: #fff;
}

label {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  float: left;
}

#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

#contact .contact-item {
  margin: 20px 0;
}

#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}

#contact .contact-item i.fa {
  margin-right: 10px;
}

#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}

#contact .social ul li {
  display: inline-block;
  margin: 0 40px;
}

#contact .social .fa {
  font-size: 48px;
  color: #fff9f9;
}

#contact .social .fa:hover {
  color: rgb(212, 212, 212);
  transition: all 1s;
}

/* FOOTER */
#footer {
  background: #f6f6f6;
  padding: 30px 0;
}

#footer p {
  color: #888;
  font-size: 14px;
}

#footer a {
  color: #4caf50;
}

#footer a:hover {
  border-bottom: 2px solid #000000;
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}

.video-react-big-play-button {
  font-size: 3em;
  line-height: 1.5em;
  height: 1.5em;
  width: 3em;
  display: block;
  position: absolute;
  top: 156px;
  left: 300px;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border: 0.06666em solid #fff;
  background-color: #2b333f;
  background-color: rgba(43, 51, 63, 0.7);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 1.4s;
}

.nav-margin {
  margin-top: 200px;
}

.fileView-flex {
  margin-top: 222px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fileTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  align-self: center;
}

.fileTable td {
  padding: 20px;
  width: 150px;
}

.fileTable th {
  padding: 20px;
  width: 159px;
  letter-spacing: 1.5px;
}

.fileTable thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.fileTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.fileTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.fileTable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

#heading {
  align-self: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
  font-size: 32px;
  font-weight: 300;
}

.row-flex {
  display: flex;
  justify-content: center;
}

.share {
  font-family: 'Lato', sans-serif;
  width: 59px;
  border: 1px solid #109979;
  border-radius: 2px;
  color: black;
  letter-spacing: 1px;
  padding: 2px;
  font-size: 10px;
}

.share_buttons {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}

.share_buttons button {
  margin: 5px;
}

.popup {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-main {
  position: absolute;
  background: white;
  width: 250px;
  height: 300px;
  transform: translate(100px, -100px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #009879;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.popup_head {
  background-color: #009879;
  margin: 0px;
  padding: 10px;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.close_button {
  position: absolute;
  background-color: transparent;
  border: 0px;
  color: white;
}

.dragPage {
  background-color: rgb(174, 238, 193);
  background-color: radial-gradient(
    circle,
    rgba(174, 238, 193, 1) 28%,
    rgba(76, 175, 108, 1) 88%
  );
  height: 100%;
  width: 100%;
}

.inputContainer {
  display: flex;
}
.input {
  width: 256px;
  height: 29px;
  border: 1px solid #009879;
  border-radius: 2px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: sans-serif;
  color: #009879;
  margin-top: 15px;
}
