/* @media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  /* #portfolio {
    width: 110%;
  }
}*/

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.team-img {
  max-width: 100px;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
